p {
    margin: auto;
    font-size: 20px;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: #E3D9BF;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
    margin: auto;
}

th {
  font-size: 13px;
  font-weight: normal;
  background: #1898B8;
  border-top: 4px solid #E3D9BF;
  border-bottom: 1px solid #E3D9BF;
  color: white;
  padding: 8px;
}

td {
  background: #1898B8;
  border-bottom: 1px solid #E3D9BF;
  color: white;
  border-top: 1px solid transparent;
  padding: 8px;
}

tr:hover td {
  background: #A12236;
}

a.button {
    width: 250px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background: #1898B8;
    margin: auto;
    margin-top: 20px;

}

input {
    width: 700px;
    height: 45px;
    font-size: 20px;
    border-radius: 10px;
}

body {
  margin: auto;
  background: #E3D9BF;
}

.center {
    text-align: center;
    color: black;
}

h3 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
}
.output {
  color: white;
  margin: 30px;
  font-size: 30px;
  background: #1898B8;
  border-radius: 10px;
}

.outputTypeFormula {
  color: white;
  margin: 30px;
  font-size: 30px;
  background: #1898B8;
  border-radius: 10px;
}
